<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>Sign In</title>
        <link rel="stylesheet" href="/css/login.css">
    </head>
    <body>
        <form action="/user/login" method="POST">
            <div class="register" style="padding-top: 30px; padding-bottom: 30px; box-shadow: 40px -15px teal; border: 5px solid #132743;">
                <h1>Sign In</h1>
                <!-- <p>Please fill in this form to create an account.</p> -->
                <hr>
        
                <label for="name"><b>Full Name</b></label>
                <input type="text" placeholder="Enter Name" name="name" required>
        
                <br>
                <label for="password"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="password" required>
        
                <hr>
               
                <button type="submit" class="registerbtn" >Log In</button>
        
                <p><p>Don't have an account? <a href="/user/register">Sign up</a>.</p></p>
            </div>
          
            </form>
        <!-- <form action="/user/login" method="POST">
            <input type="text" name="name" placeholder="masukkan username">
            <input type="password" name="password" placeholder="masukkan password">
        
            <input type="submit" value="Login">
        </form> -->
        
    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script>
        <% if (pesan) {%>
         alert('<%=pesan%>') 
         <%} %>
    </script>

</html>