<html>

    <body>
        <form action="/todo/edit/<%= data[0].id%>" method="POST">
            <input type="text" name="kegiatan" value="<%= data[0].kegiatan%>">
            <select name="status" id="status">
                <option value="0" <%= (data[0].status==0)? 'selected': ''%>>Belum</option>
                <option value="1" <%= (data[0].status==1)? 'selected': ''%>>Sudah</option>
            </select>
            <input type="submit" value="SIMPAN">
        </form>
        
    </body>
</html>