<html>

    <body>
        <form action="/todo/insert" method="POST">
            <input type="text" name="kegiatan" placeholder="masukkan nama">
            <label for="status">Pilih Status:</label>
            <select name="status" id="status">
                <option value="0">Belum</option>
                <option value="1">Sudah</option>
            </select>
            <input type="submit" value="SIMPAN">
        </form>
        
    </body>
</html>